[submodule "vendor/github.com/murphybytes/udt.go"]
	path = vendor/github.com/murphybytes/udt.go
	url = ssh://git@github.com/murphybytes/udt.go.git
[submodule "vendor/github.com/nicksnyder/go-i18n"]
	path = vendor/github.com/nicksnyder/go-i18n
	url = https://github.com/nicksnyder/go-i18n
